{% extends 'diary/base.html' %}
{% load static %}
{% block title %}Регистрация нового пользователя{% endblock %}

{% block content %}
<section class="my-registration-form">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <nav aria-label="breadcrumb" class="my-4">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Форма регистрации</li>
                    </ol>
                </nav>

                <div class="card border-1 shadow-sm">
                    <div class="card-body">
                        <p class="text-center">Для регистрации пользователя укажите e-mail и пароль</p>
                        <form method="post" action="{% url 'users:registration' %}">
                            {% csrf_token %}
                            <div class="d-grid gap-2 col-6 mx-auto mb-2">
                                {{ form.email }}
                            </div>

                            <div class="d-grid gap-2 col-6 mx-auto mb-2">
                                {{ form.password1 }}
                            </div>

                            <div class="d-grid gap-2 col-6 mx-auto mb-2">
                                {{ form.password2 }}
                            </div>

                            <div class="d-grid gap-2 col-6 mx-auto">
                                <button type="submit" class="btn btn-primary">Регистрация</button>
                            </div>

                            <div class="mt-4 text-center">
                                <a href="{% url 'users:login' %}" class="small">Вернуться к авторизации</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}